html {background-color: #f0efeb}

.index {
    font-family: 'Trebuchet MS', sans-serif;
    text-align: center;
    color: white;
}

ul {list-style: none;}

h1 {
    font-size: 50px;
    background-color: #e8d1c5;
    color: white;
}

.home {
    font-size: 30px;
    background-color: #eddcd2;
    color: burlywood;
}


.recipe {
    font-family: 'Trebuchet MS', sans-serif;
    color: rgb(0, 0, 0);
    font-size: 18px;
}

.body2 {
    background-color: #eddcd3;
}

#title,
.pics{
    text-align: center;
}

.pics {
    background-color: #eddcd3;
}

img {
    height: 650px;
    width: auto;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 25px;
}



